<!DOCTYPE html>
<html>

<head>
    <title>
        <%= projectName %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1> <%= projectName %> </h1>
    <p>Welcome to <%= projectName %>, <%= userName %> !</p>
    <p><%= projectDescription %></p>
    <div>
        <video src="<%= greetingVideo %>"></video>
    </div>
    <p>Made by <%= projectAuthor %></p>
    
</body>

</html>